* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 1rem 0;
}

body {
  background-color: #000;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* p {
  font-size: 18px;
  color: red;
  line-height: 1.5;
}

.btn {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#header {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

input[type="text"] {
  padding: 2rem;
}

a[href="https://github.com/behan05"]
{
  color: red;
} */

h1,
h2,
p {
  color: blue;
}

button {
  padding: 1rem 2rem;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #ccc;
}

button:hover {
  background-color: #b17d7d;
  color: lightseagreen;
}

input:focus {
  border: none;
  border-radius: 12px;
  background-color: #ccc;
  color: #000;
}

input::placeholder {
  color: red;
}

/* p::before {
  content:"Hello " ;
  color: #ccc;
} */


/* div p {
  color: red;
} */

/* h1 + p {
  color: red;
} */

/* h1 ~ p {
  color: #ccc;
} */

div.container p.para {
  color: #fff;
}