
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.box {
  width: 200px;
  height: 200px;
  padding: 1rem;
  border: 10px solid #fff;
  margin: 10px;
  background-color: brown;
  box-sizing: border-box;
  overflow: auto;
}

